{% extends 'base/base.html' %}
{% block title %}{{category.name}}{% endblock %}
{% block content %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">{{category.name}}</h6>
    {% if topic_list %}
    {% for topic in topic_list %}
    <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <a href="{% url 'thread:topic' pk=topic.id %}"><strong class="d-block text-gray-dark">{{topic.title}}</strong></a>
            {{topic.user_name}},{{topic.created}}
        </p>
    </div>
    {% endfor %}
    {% else %}
    <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            トピックが存在しません
        </p>
    </div>
    {% endif %}
</div>
{% endblock %}