{% extends 'base/base.html' %}
{% block title %}パスワードリセット - {{ block.super }}{% endblock %}
{% block content %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="blog-post">
        <div class="card-body">
            <h5>パスワードリセット</h5>
            <hr>
            <form class="" action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                {{field.label_tag}}<div class="form-group">{{field}}</div>
                {% for error in field.errors%}
                <p class="text-danger">{{error}}</p>
                {% endfor%}
                {% endfor%}
                <button type="submit" class="btn btn-outline-primary">変更する</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}