{% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&amp;display=swap" rel="stylesheet">
    <title>
        {% block title %}理科大掲示板{% endblock %}
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'base:top' %}">理科大掲示板</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'thread:create_topic' %}">投稿</a>
                </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:logout' %}">ログアウト</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:profile' %}">プロフィール</a>
              </li>
              {% else %}
              <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:create' %}">ユーザー登録</a>
              </li>
              {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'search:result' %}" method="GET">
              <input class="form-control mr-sm-2" type="text"  name="q">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
    </nav>
    
    

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                {% block content %}
                {% endblock %}
            </div>
            {% load basetags %}
            <aside class="col-md-4 blog-sidebar">
                <div class="p-3">
                    {% categorytag %}
                </div>
            </aside>
        </div>
    </main>
        
      
        
      
        
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>