{% extends 'base/base.html' %}
{% block title %}理科大掲示板 - {{ block.super }}{% endblock %}
{% block content %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h5 class="border-bottom border-gray pb-2 mb-0">講義情報</h5>
    {% for topic in topic_list %}
    <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <a href="{% url 'thread:topic' pk=topic.id %}"><strong class="d-block text-gray-dark">{{topic.title}}</strong></a>
            {{topic.user_name}},{{topic.created}}
        </p>
    </div>
    {% endfor %}
    {% include 'base/pagination.html' %}
</div>
{% endblock %}